<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dienstplan Taxi Novak</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body class="bg-gray-900 text-gold-500 font-sans">
    <!-- Include Header -->
    {% include 'dashboard_assets/header.html' %}

    <!-- Include Schedule Table -->
    {% include 'dashboard_assets/schedule_table.html' %}

    <!-- Include Modal -->
    {% include 'dashboard_assets/modal.html' %}

    <!-- Include Modals -->
    <!-- Include Delete Warning -->
    {% include 'dashboard_assets/delete_warning.html' %}
    <!-- Include Week-Copying Mechanism -->
    {% include 'dashboard_assets/copy_week_modal.html' %}
    <!-- Include Scripts -->

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <!-- Confetti madness -->


</body>
</html>